<h4 class="ml-5">マイページ</h4>
<div class="container">
  <div class="row">
    <div class="col-md-4 shadow-lg" style="height: 450px;">
      <%= render 'layouts/new' %>
      <div class="d-flex p-3 mt-5">
        <p class="mr-4 h5 font-weight-bold">登録情報</p>
        <!--ゲストには編集ボタンは表示しない-->
        <% if @customer.email == 'guest@example.com' %>
          <div></div>
        <% else %>
          <%= link_to information_edit_customers_path, class:"text-success" do %>
            <i class="fas fa-user-edit"></i>
          <% end %>
        <% end %>
      </div>
      <div>
        <ul class="list-group list-unstyled">
          <li class="list-item">
            <h5>ニックネーム</h5>
            <p>　<%= @customer.nickname %><p>
          </li>
          <li class="list-item">
            <h5>メールアドレス</h5>
            <p>　<%= @customer.email %></p>
          </li>
        </ul>
      </div>
      <table class="table table-borderless">
        </tr>
          <td><%= link_to "非公開一覧を見る", private_posts_path, class:"btn btn-primary" %></td>
        </tr>
        <tr>
          <td><%= link_to "次食べたいリスト", favorites_posts_path, class:"btn btn-success" %></td>
        </tr>
      </table>
    </div>
    <div class="col-8 mx-auto" style="width: 200px;">
      <%= render 'public/posts/post-index', posts: @posts %>
    </div>
    </div>
  </div>
</div>