<!--レビュー一覧-->
<%= render 'layouts/back' %>
<div>
  <% posts.each do |posts| %>
    <% if  posts.post_deleted == true && posts.customer_id == current_customer.id %> <!-- 削除状態だった場合-->
      <div class="shadow-lg text-center">
        <h2>このレビューは通報等の理由により</br>管理者によって削除されました。</h2>
      </div>
    <% else %>
       <!--投稿内容-->
      <div class="text-center shadow-lg">
        <% if posts.post_status == false && posts.customer_id == current_customer.id %> <!-- もし非公開設定で投稿者だったら-->
          <p class="key"><i class="fas fa-lock"></i></p> <!--鍵マークつける-->
        <% else %>
          <p></p>
        <% end %>
        <p class="mt-4 p-3 text-center">
          <%= link_to post_path(posts.id) do %>
            <%= image_tag posts.get_image(500, 500), class:"img-fluid rounded", alt:"Responsive image" %>
          <% end %>
        </p>

        <table class="col-md">
          <tr>
            <th>メニュー名</th>
            <td class="pl-2 text-left"><%= posts.menu %></td>
          </tr>

          <tr>
            <th>ジャンル</th>
            <td class="text-primary pl-2 text-left">
              <% posts.genres.each do |genre| %>
                #<%= link_to genre.name, posts_path(genre_id: genre.id) %>
              <% end %>
            </td>
          </tr>

          <tr>
            <th>評価</th>
            <td class="pl-2 text-left">
              <p>
                <span class="star5_rating" data-rate="<%= (posts.rate).to_f %>"></span><%= posts.rate %>
              </p>
            </td>
          </tr>

          <tr>
            <th>感想</th>
            <td class="pl-2 text-left"><%= posts.comment %></td>
          </tr>

          <tr>
            <th>店名</th>
            <td class="text-primary pl-2 text-left">
              <% if posts.shop_info_id.present? %>
                <%= link_to posts.shop_info.shop_name, posts_path(shop_info_id: posts.shop_info.id) %>
              <% else %>
                <p>店情報登録なし</p>
              <% end %>
            </td>
          </tr>

          <tr>
            <td colspan="2">
              <i class="fas fa-bookmark"></i><%= posts.favorites.count %>
              <%= "#{posts.post_comments.count} コメント" %>
              <i class="fas fa-thumbs-up"></i><%= posts.likes.count %>
            </td>
            <td></td>
          </tr>

          <tr>
            <th></th>
            <td class="text-right">
              <p><%= l posts.created_at %></p>
              by　<%= image_tag posts.customer.get_profile_image(50, 50),id:"img", class:"img-fluid", alt:"Responsive image", style:"object-fit: cover; " %>
              <%= posts.customer.nickname %>
            </td>
          </tr>
        </table>
      </div>
    <% end %>
  <% end %>
</div>
<div class="mt-4">
<%= paginate posts %>
</div>