<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= form_with model: @post, url: post_path do |f| %>
      <table class="table tablebordered">
        <tr>
          <th>投稿画像</th>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <th>メニュー名</th>
          <td><%= f.text_field :menu %></td>
        </tr>
        <tr>
          <th>評価</th>
          <td>
            <input type="range" class="form-contro-l-range" id="rate" type="radio" name="post[rate]" min="0" max="5" step="1"><label for="review01"></label>
          </td>
        </tr>
        <tr>
          <th>店名</th>
          <td>
            <%= f.select :shop_info_id, options_from_collection_for_select(ShopInfo.all, :id, :shop_name), class:"custom-select col-12" %>
          </td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td>
            <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |genre| %>
              <%= genre.label do %>
                <%= genre.check_box %>
                <%= genre.text %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>コメント・メモ</th>
          <td><%= f.text_area :comment %></td>
        </tr>
        <tr>
          <th><%= f.label "公開設定" %></th>
          <td>
            <%= f.radio_button :post_status, true, style: "accent-color:black;",checked: true %>
            <%= f.label :post_status, "公開", value: true %>
            <%= f.radio_button :post_status, false, class:"ml-5", style: "accent-color:black;" %>
            <%= f.label :post_status, "非公開", value: false %>
          </td>
          </tr>
        <tr>
          <th></th>
          <td>
              <%= f.submit '変更を保存', method: :patch, class:"btn btn-lg btn-block btn-info mt-4" %>
              <%= link_to "削除", post_path(@post.id), method: :delete, class:"btn btn-lg btn-block btn-danger mt-4" %>
          </td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>