<h4>食べたいリスト</h4>
<% if !@post.exists? %>
 <h2>食べたいリストはありません。</h2>
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <% @post.each do |posts| %>
        <table class="table table-borderless">
          <tr>
            <th></th>
            <td>
              <%= link_to post_path(posts.id) do %>
                <%= image_tag posts.get_image(500, 500) %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>メニュー名</th>
            <td><%= posts.menu %></td>
            <td></td>
          </tr>
          <tr>
            <th>ジャンル</th>
            <td class="text-primary">
              <% posts.genres.each do |genre| %>
                #<%= link_to genre.name, posts_path(genre_id: genre.id) %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>評価</th>
            <td><%= "★" * (posts.rate).to_i %></td>
            <td></td>
          </tr>
          <tr>
            <th>コメント・メモ</th>
            <td><%= posts.comment %></td>
            <td></td>
          </tr>
          <tr>
            <th>店名</th>
            <td><%= posts.shop_info.name %></td>
            <td></td>
          </tr>
          <tr>
            <th></th>
            <td>♥<%= posts.favorites.count %></td>
            <td>by　<%= posts.customer.nickname %></td>
          </tr>
        </table>
        <% end %>
      </div>
    </div>
  </div>
<% end %>