<div class="container">
  <div class="row">
    <div class="col-10">
      <% @posts.each do |posts| %>
      <table class="table tablebordered">
        <tr>
          <th>投稿画像</th>
          <td>
            <%= link_to post_path(posts.id) do %>
              <%= image_tag posts.get_image(100, 100) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>メニュー名</th>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>評価</th>
          <td><%= posts.rate %></td>
          <td></td>
        </tr>
        <tr>
          <th>コメント・メモ</th>
          <td><%= posts.comment %></td>
          <td></td>
        </tr>
        <tr>
          <th>店名</th>
          <td><%= posts.shop_info.name %></td>
          <td></td>
        </tr>
        <tr>
          <th></th>
          <td></td>
          <td><%= posts.customer.nickname %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>