<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h5>投稿画面</h5>
      <%= form_with model: @post do |f| %>
      <table class="table tablebordered">
        <tr>
          <th>投稿画像</th>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <th>評価</th>
          <td>
            <script>
              $('#star').raty({
                size     : 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                scoreName: 'post[star]',
                half: true,
              });
            </script>
          </td>
        </tr>
        <tr>
          <th>コメント・メモ</th>
          <td><%= f.text_area :comment %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= f.submit '投稿', class:"btn btn-lg btn-block btn-info mt-4" %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>
