<div class="container">
  <div class="row">
    <div class="col-md-3">
      <table class="table tablebordered">
        <tr>
          <th>投稿画像</th>
          <td><%= image_tag @post.get_image(500, 500) %></td>
        </tr>
        <tr>
          <th>評価</th>
          <td><%= @post.rate %></td>
        </tr>
        <tr>
          <th>コメント・メモ</th>
          <td><%= @post.comment %></td>
        </tr>
        <tr>
          <th></th>
          <td>
            <td>
            <% if @post.favorited_by?(current_customer) %>
              <p>
                <%= link_to post_favorites_path(@post), method: :delete do %>
                  ♥<%= @post.favorites.count %>食べたい
                <% end %>
              </p>
            <% else %>
              <p>
                <%= link_to post_favorites_path(@post), method: :post do %>
                  ♡<%= @post.favorites.count %>食べたい
                <% end %>
              </p>
            <% end %>
          </td>
          </td>
          <td><%= @post.customer.nickname %></td>
        </tr>
      </table>
    </div>
  </div>
</div>