<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="mx-auto" style="width: 500px;">
        <%= image_tag @post.get_image(500, 500), class:"img-responsive img-rounded" %>
      </div>
      <table class="table table-bordered">
        <tr>
          <th style="width: 20%">メニュー名</th>
          <td><%= @post.menu %></td>
        </tr>
        <tr>
          <th style="width: 20%">ジャンル</th>
          <td class="text-primary">
            <% @post.genres.each do |genre| %>
              #<%= link_to genre.name, posts_path(genre_id: genre.id) %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th style="width: 20%">評価</th>
          <td><%= "★" * (@post.rate).to_i %></td>
        </tr>
        <tr>
          <th style="width: 20%">コメント・メモ</th>
          <td><%= @post.comment %></td>
        </tr>
        </table>
          <div>
            <% if @post.favorited_by?(current_customer) %>
            <p>
              <%= link_to post_favorites_path(@post), method: :delete do %>
                <i class="fas fa-bookmark"></i><%= @post.favorites.count %>
              <% end %>
            </p>
            <% else %>
            <p>
              <%= link_to post_favorites_path(@post), method: :post do %>
                <i class="far fa-bookmark"></i><%= @post.favorites.count %>
              <% end %>
            </p>
            <% end %>
            <p class="text-right">by　<%= @post.customer.nickname %></p>
          </div>
          <div>
            <% if @customer != current_customer %>
              <%= link_to "通報する", new_post_reports_path(@post), class: "btn btn-danger" %>
            <% end %>
          </div>
          <div>
            <p>コメント件数：<%= @post.post_comments.count %></p>
            <table class="table table-bordered">
            <% @post.post_comments.each do |post_comment| %>
              <tr>
                <th><%= post_comment.customer.nickname %></th>
                <td><%= post_comment.comment %></td>
                <td><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
                <td>
                  <% if post_comment.customer_id == current_customer.id %>
                    <%= link_to "削", post_post_comment_path(post_comment.post_id, post_comment.id), method: :delete, class:"btn btn-danger" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
            </table>

          </div>
          <div>
          <%= form_with model: [@post, @post_comment] do |f| %>
            <%= f.text_area :comment, rows: '1', placeholder: "コメントをここに", class:"form-control col-4" %>
            <%= f.submit "送信する", class:"btn btn-success" %>
          <% end %>
          </div>
          <% if  @post.customer_id == current_customer.id %>
            <div class="container text-center"><%= link_to '編集する', edit_post_path(@post.id), class:"btn btn-success" %></div>
          <% end %>
    </div>
    <div class="col-md-5 mt-5">
      <h4>店情報</h4>
      <table class="table table-bordered">
        <tr>
          <th>店名</th>
          <td><%= @post.shop_info.shop_name %></td>
        </tr>
        <tr>
          <th>店住所</th>
          <td><%= @post.shop_info.address %></td>
        </tr>
          <th>HP等</th>
          <td><%= @post.shop_info.shop_url %></td>
        </tr>
      </table>
      <div id="map" style='height: 300px; width: 450px;'></div>
    <script>
      var map;
      function initMap() {
        // マップを作成
        map = new google.maps.Map(document.getElementById('map'), {
        // マップの中心に表示する場所の緯度経度を指定
          center: { lat: <%= @post.shop_info.latitude %>, lng: <%= @post.shop_info.longitude %> },
          zoom: 15,
        });

        // マーカーを立てる場所の緯度経度を指定
        marker = new google.maps.Marker({
          position: { lat: <%= @post.shop_info.latitude %>, lng:<%= @post.shop_info.longitude %> },
          map: map
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_JS_API_KEY'] %>&callback=initMap"
    async defer></script>
    </div>
  </div>
</div>