<!--検索フォーム-->
<% if customer_signed_in? %> <!-- 会員ログイン時のみ表示-->
  <div class="seach_form col-md">
    <%= form_with url: search_path, method: :get do |f| %>
      <%= f.text_field :word, placeholder: "店名やジャンル名を入力"%>
      <%= f.select :range, options_for_select([['店名'],['ジャンル']]) %>
      <%= f.select :search, options_for_select([["完全一致","perfect_match"],["前方一致", "forward_match"], ["後方一致","backward_match"],["部分一致","partial_match"]]) %>
      <%= f.submit "検索", class:"btn btn-light btn-sm mr-3" %>
    <% end %>
  </div>
<% end %>