<div class="container">
  <div class="row">
    <% if current_customer %>
    <%= render 'layouts/new' %>
      <div class="col-5">
        <ul>
          <li>現在投稿されているお店</li>
            <% @shop_infos.each do |shop_info| %>
              <%= link_to posts_path(shop_info_id: shop_info.id) do %>
                <%= shop_info.shop_name %>(<%= shop_info.post.count %>)</br>
              <% end %>
            <% end %>
          <li>ジャンル別投稿数</li>
            <% @genres.each do |genre| %>
              <%= link_to posts_path(genre_id: genre.id) do %>
                <%= genre.name %>(<%= genre.posts.count %>)</br>
              <% end %>
            <% end %>
        </ul>
      </div>
      <div class="col-7">
        <h1>Menyuへようこそ！</h1></br>
        <div class="mt-5">
        <h4>Menyuとは</br>麺(Men)に特化したメニュー(Menu)レビューサイトです。</h4>
        </div>
        <div class="mt-5">
        <h3>
          新規投稿は
          <%= link_to "こちら", new_post_path %>
          からも
          右下の＋ボタンからも可能です！
        </h3>
        </div>
        <div class="mt-5">
        <h2>※店情報が間違っている等ありましたら</br>レビューの詳細画面の通報機能でお知らせください。</h2>
        </div>
      </div>
    <% else %>
    <div class="col">
      <h1>Menyuへようこそ！</h1>
      <p>Menyuとは</br>麺(Men)に特化したメニュー(Menu)レビューサイトです。</p>
      <%= link_to "新規登録", new_customer_registration_path, class:"btn btn-primary" %>
      <%= link_to "ログイン", new_customer_session_path, class:"btn btn-success" %>
      <p>ゲストは投稿・閲覧・コメント機能が使えますが</br>ログアウト時に投稿やコメント、お気に入りデータが削除されます。</p>
      <%= link_to 'ゲストログイン', customers_guest_sign_in_path, method: :post, class:"btn btn-outline-info" %>
    </div>
    <% end %>
  </div>
</div>
