<% if current_admin %>
  <div class="container">
    <div class="row">
      <div class="col-10">
        <h4 class="ml-5 mb-5"><%= @customer.nickname %>さんの会員情報</h4>
        <table class="table table-borderless table-sm">
          <tr>
            <th class="co-1">会員ID</th>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <th></th>
            <td><%= image_tag @customer.get_profile_image(100,100), class:"img-fluid rounded", alt:"Responsive image", style:"object-fit: cover; " %></td>
          </tr>
          <tr>
            <th class="co-1">ニックネーム</th>
            <td>
              <%= @customer.nickname %>
            </td>
          </tr>
          <tr>
            <th class="co-1">メールアドレス</th>
            <td><%= @customer.email %></td>
          </tr>
          <tr>
            <th class="co-1">会員ステータス</th>
            <td><%= @customer.is_deleted ? '退会' : '有効' %></td>
          </tr>
          <tr>
            <th class="co-1"></th>
            <td>
              <%= link_to "編集する", edit_admin_customer_path, class:"btn btn-success col-2" %>
              <%= link_to "レビュー一覧を見る", admin_posts_path, class:"btn btn-primary ml-5" %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
<% else %>
  <%= render 'admin/admin_only' %>
<% end %>