<!--レビュー一覧画面-->
<% if current_admin %> <!--管理者のみ閲覧可能-->
  <!--会員絞り込み時の表示-->
  <% if params[:customer_id].present? %>
    <h4><%= @customer.nickname %>のレビュー一覧</h4>
  <% else %>
    <h4>レビュー一覧</h4>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col">
        <table class="table table-borderless">
          <tr>
            <th>投稿日</th>
            <th>投稿id</th>
            <th>顧客名</th>
            <th></th>
            <th>メニュー名</th>
            <th>ジャンル</th>
            <th>評価</th>
            <th>感想</th>
            <th>店名</th>
            <th>ステータス</th>
            <th>削除</th>
          </tr>

          <% @posts.each do |posts| %>
            <tr>
              <td><%= l posts.created_at %></td>
              <td>
                <%= link_to admin_post_path(posts.id) do %>
                  <%= posts.id %>
                <% end %>
              </td>
              <td><%= posts.customer.nickname %></td>
              <td>
                <%= link_to admin_post_path(posts.id) do %>
                  <%= image_tag posts.get_image(50, 50) %>
                <% end %>
              </td>
              <td><%= posts.menu %></td>
              <td>
                <% posts.genres.each do |genre| %>
                  #<%= genre.name %>
                <% end %>
              </td>
              <td><p><%= posts.rate %></p></td>
              <td><%= posts.comment %></td>
              <td>
                <% if posts.shop_info_id.present? %>
                  <%= posts.shop_info.shop_name %>
                <% else %>
                  <p>店情報登録なし</p>
                <% end %>
              </td>
              <td><%= posts.post_status ? '公開' : '非公開' %></td>
              <td><%= posts.post_deleted ? '済' : '未' %></td>
          <% end %>
        </table>

        <%= paginate @posts %>
      </div>
    </div>
  </div>
<% else %>
  <%= render 'admin/admin_only' %>
<% end %>