<% if current_admin %>
  <% if params[:customer_id].present? %>
    <h4><%= @customer.nickname %>のレビュー一覧</h4>
  <% else %>
    <h4>レビュー一覧</h4>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col">
        <table class="table table-borderless">
          <tr>
            <th>投稿日</th>
            <th>投稿id</th>
            <th>顧客名</th>
            <th></th>
            <th>メニュー名</th>
            <th>ジャンル</th>
            <th>評価</th>
            <th>感想</th>
            <th>店名</th>
            <th>ステータス</th>
            <th>削除</th>
          </tr>
        <% @posts.each do |posts| %>
          <tr>
            <td><%= l posts.created_at %></td>
            <td><%= posts.id %></td>
            <td><%= posts.customer.nickname %></td>
            <td>
              <%= link_to admin_post_path(posts.id) do %>
                <%= image_tag posts.get_image(50, 50) %>
              <% end %>
            </td>
            <td><%= posts.menu %></td>
            <td>
              <% posts.genres.each do |genre| %>
                #<%= genre.name %>
              <% end %>
            </td>
            <td><p><%= posts.rate %></p></td>
            <td><%= posts.comment %></td>
            <td><%= posts.shop_info.shop_name %></td>
            <td><%= posts.post_status ? '公開' : '非公開' %></td>
            <td><%= posts.post_deleted ? '済' : '未' %></td>
        <% end %>
        </table>
        <%= paginate @posts %>
      </div>
    </div>
  </div>
<% else %>
  <%= render 'admin/admin_only' %>
<% end %>