<!--通報/報告画面-->
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <% if  @post.customer_id == current_customer.id %> <!-- 投稿者なら報告画面、それ以外は通報画面-->

        <h3>報告画面</h3>

        <%= form_with model:[@post, @report] do |f| %>
          <%= render "public/shared/error_messages", resource: @report %>

          <div class="form-group">
            <%= f.hidden_field :reporter_id, :value => current_customer.id %>
            <%= f.hidden_field :reported_id, :value => @post.id %>
            <%= f.label :reason, "報告理由" %>
            <%= f.text_area :reason, rows:'2', class:"form-control" %>
            <%= f.submit "報告する", class: "btn btn-success" %>
          </div>
        <% end %>

      <% else %>
        <h3>通報画面</h3>

        <%= form_with model:[@post, @report] do |f| %>
          <%= render "public/shared/error_messages", resource: @report %>

          <div class="form-group">
            <%= f.hidden_field :reporter_id, :value => current_customer.id %>
            <%= f.hidden_field :reported_id, :value => @post.id %>
            <%= f.label :reason, "通報理由" %>
            <%= f.text_area :reason, rows:'2', class:"form-control" %>
            <%= f.submit "通報する", class: "btn btn-danger" %>
          </div>
        <% end %>

      <% end %>

      <%= link_to '戻る', :back, class:"btn btn-info mt-4" %>
    </div>
  </div>
</div>