<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="ml-4 mb-4">ログイン</h4>
      <h5 class="ml-5 mb-5">会員の方はこちらからログイン</h5>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
      <table class="ml-5 table table-borderless col-7">
        <tr>
          <th><%= f.label "メールアドレス" %></th>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <th><%= f.label "パスワード" %></th>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= f.submit "ログイン", class:"ml-5 col-3 text-center btn btn-success btn-block" %></td>
        </tr>
        <tr>
          <th></th>
          <td></td>
        </tr>
      </table>
      <% end %>
      <div class="ml-4 mt-4">
        <h5>会員登録がお済みでない方</h5>
        <p class="ml-5">
          <%= link_to "こちら", new_customer_registration_path, class:"border-bottom border-primary" %> から新規登録を行ってください。
        </p>
      </div>
    </div>
  </div>
</div>

